- set_header :title=>"#{@user_command.name} for #{@user_command.user.login}", :description=>"#{@user_command.user.login}'s user command -  #{@user_command.description}"

= javascript_tag "$('header_search_query').value = '#{@user_command.command.keyword}'"

%h1.inline= basic_user_command_link @user_command

= user_command_actions(@user_command, :with_copy=>true, :class=>'options header', :action=>'show') if logged_in?

%hr

%p.small-url= truncate_with_more h(@user_command.url), 150

#primary
  = render :partial=>'show_left_column'

#secondary
  - command = @user_command.command
	
  %h2
    = render_favicon_for_command @user_command 
    Command Info

  %ul.command_info
    
    %li
      %div.key Type
      %div.value
        =# command_type_image @user_command.command_type.pluralize
        = @user_command.command_type.capitalize
        - if @user_command.http_post?
          (uses POST)
    
    %li
      %div.key Creator
      %div.value= user_link @user_command.user

    %li
      %div.key Created
      %div.value= @user_command.created_at.to_s(:medium)
      
    %li
      %div.key Last Used
      %div.value= time_ago_in_words_or_date @user_command.updated_at

    %li
      %div.key Command
      %div.value= basic_command_link @user_command.command

    %li
      %div.key URL Status
      %div.value= url_status(@user_command)
      
    %li
      %div.key URL Encoded
      %div.value= @user_command.url_encode? ? "Yes" : "No"
      
    %li
      %div.key Original Keyword
      %div.value= h(command.keyword)
      
    %li
      %div.key User's Keyword
      %div.value= h(@user_command.keyword)
	
    %li
      %div.key Visible to Public
      %div.value= @user_command.public? ? "Yes" : "No"
	
    %li
      %div.key Queries visible to Public
      %div.value= @user_command.public_queries? ? "Yes" : "No"
      	
    %li
      %div.key Queries Saved
      %div.value= @user_command.save_queries? ? "Yes" : "No"

    %li
      %div.key Owner Queries
      %div.value
        - if @user_command.queries_count.zero? || !can_view_queries?
          = "#{@user_command.queries_count} queries"
        - else
          = link_to("#{@user_command.queries_count} queries", user_command_queries_path(@user_command))
        
  - unless @user_command.tags.empty?
    %h2 Tags
    %p= @user_command.tag_list.map{|tag| link_to(tag, tagged_user_commands_path(@user_command.user, tag))}.join(" ")

  - if @user_command.public? && !@related_user_commands.empty?
  
    %h2 Other Users of this Command    
    = user_command_table(@related_user_commands, :columns=>[:user, :queries_count])
    = table_link_to "View all related user commands", command_user_commands_path(@user_command.command)