<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<%- set_header_defaults unless @meta_tags -%>
		<title><%= h(@title) %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<%- @meta_tags.each do |tag_name, content| -%>
		<meta name="<%= h(tag_name) %>" content="<%= h(truncate(content, 160)) %>" />
		<%- end -%>

		<% if logged_in? %>
			<link rel="search" href="<%= opensearch_user_url(current_user) %>" type="application/opensearchdescription+xml" title="queri.ac/<%= current_user.login %>" />
		<% end %>

		<%= stylesheet_link_tag 'reset' %>
		<%= stylesheet_link_tag 'application' %>
		
		<% unless @no_js %>
    	<%= javascript_include_tag 'jquery' %>
    	<%= javascript_include_tag 'application' %>
		<% end %>
		
		<%- unless @feed_icons.blank? -%>
		  <%- @feed_icons.each do |feed| -%>
		    <%= auto_discovery_link_tag :rss, feed[:url], :title => "#{feed[:title] || h(@title)}" %>
		  <%- end -%>
		<%- end -%>
	</head>
	
	<body>
	
		<div class="container">
		  <div id="header">
		
		    <div id="logo">
					<%= render_nav %>
				</div>
				
		    <div id="mininav">
					<%= render_mininav %>
		    </div>
		    
	    <!--
			<div id="header_search">
				<% form_tag header_search_commands_path, :method=>:get  do %>
					<%= text_field_tag "q", nil, :size=>15, :id=>"header_search_query" %>
					<%= submit_tag 'Search Commands' if logged_in? %>
					<%= submit_tag 'Public Command'%>
				<% end %>
			</div>
      -->

		  </div><!-- end #header -->
		
		  <div id="content">
         <%= flash_div %>
         <%= yield %>
    		<div id="footer">
    			<%= footer_nav %>
    		</div>

		  </div><!-- end #content -->
		
		</div><!-- end #container -->

		
	</body>
</html>

